# Data Integration in R

**PREVIOUSLY**:

In [ ]:
# do this FIRST, just once
# install.packages('rio')

## I. Concatenation


We will work with these tables to understand the concatenation of data frames:

In [ ]:
sheet_html <- '<iframe width="50%" height="200" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQzyv9scQAKGdUE9vLS6FAtuigyajkmLkXOzc-svS31gYGVbn0cBBfsGZi2LiomymLpxXNtn3TqTz8y/pubhtml?widget=true&amp;headers=false"></iframe>'
IRdisplay::display_html(sheet_html)

<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQzyv9scQAKGdUE9vLS6FAtuigyajkmLkXOzc-svS31gYGVbn0cBBfsGZi2LiomymLpxXNtn3TqTz8y/pubhtml?widget=true&amp;headers=false" width="100%" height="600"></iframe>

In [ ]:
link="https://github.com/DACSS-Fundamentals/someData/raw/main/concat_example.xlsx"

In [ ]:
df1 <- rio::import(link, which = "df1")
df2 <- rio::import(link, which = "df2")
df3 <- rio::import(link, which = "df3")
df4 <- rio::import(link, which = "df4")

In [ ]:
df1 # not what you need yet

In [ ]:
# reset index
row.names(df1)=df1[,1]
df1=df1[,-1]
df1

Each data frame will have a particular set of row indices.

In [ ]:
row.names(df2) <- df2[, 1]
df2 <- df2[, -1]

row.names(df3) <- df3[, 1]
df3 <- df3[, -1]

row.names(df4) <- df4[, 1]
df4 <- df4[, -1]

### I.1. Vertical Concatenation

Same Column Names, one on top of the other:

In [ ]:
# do.call(rbind, list(df1,df2,df3))
rbind(df1,df2,df3)

### I.2. Horizontal Concatenation

Same Row Names, one next to the other:

In [ ]:
cbind(df1,df4)

### I.3 Particular Concat behavior in R

Pay attention on these examples:

In [ ]:
df3

In [ ]:
df5=df3[,c('A','C','B','D')]
df5

R can  help you.

In [ ]:
# this is  working
rbind(df1,df5)

But R can not help you here:

In [ ]:
df6=df5[,c('A','B','C')]
df6

The df6 has one less column, then concatenation fails:

In [ ]:
rbind(df1,df6)

You would need to add data:

In [ ]:
df6$D=NA # create the missing column !
rbind(df1,df6)

Check **cbind()**:

In [ ]:
df7=df4[1:3,]
df7

R can not help here, because df7 has less rows than df1:

In [ ]:
# cbind(df1,df7)

You would need to complete the rows:

In [ ]:
df7[4,]=c(NA,NA,NA,NA)
cbind(df1,df7)

## II. Merging

While _concatenating_ results depend on column names (indices), merging actually depends on column values: the key or key columns. **KEYS** should be present in the pair of tables intended for merging. Keys columns can have different names (column nam), but values of cell should be the same.

Let's use these four tables to understanding merging.

In [ ]:
sheet_html <- '<iframe width="50%" height="200" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS4M-N0OgCGDyCzq04ejabdpFAmSwROlibDowxH2q4dDcacLcGUkykSYDCJbCLUhxu4RDqNtTmriPbl/pubhtml?widget=true&amp;headers=false"></iframe>'
IRdisplay::display_html(sheet_html)

As usual, let's open the tables from GitHub:

In [ ]:
link2='https://github.com/DACSS-Fundamentals/someData/raw/main/merge_example.xlsx'

leftX <- rio::import(link2, which = "dfX_left")
rightY <- rio::import(link2, which = "dfY_right")
leftW <- rio::import(link2, which = "dfW_left")
rightZ <- rio::import(link2, which = "dfZ_right")

Calling them 'left' or 'right' tables is not a must. It is just a way for us to understand the examples clearer.

In [ ]:
leftX

In [ ]:
rightY

### II.1 INNER JOIN (default)

Only common keys are kept in result:

In [ ]:
merge(leftX,rightY)

In [ ]:
# merge(leftX,rightY,all=FALSE, by.x="student_id", by.y="student_id")
merge(leftX,rightY,all=FALSE, by="student_id")

Let's use the **W** and **Z**

In [ ]:
leftW

In [ ]:
rightZ

**Obviously**, this will  work poorly:

In [ ]:
merge(leftW,rightZ, by.x ='student_id', by.y = 'student_number')

Making changes:

In [ ]:

rightZ$student_number=as.character(rightZ$student_number)

leftW$student_id=as.character(as.numeric(gsub('"|00',"",leftW$student_id)))

In [ ]:
merge(leftW,rightZ, by.x='student_id', by.y='student_number')

### II.2 LEFT JOIN

Keeping all rows from left

In [ ]:
merge(leftX,rightY,all.x=TRUE)

### II.3 RIGHT JOIN

Keeping all rows from right

In [ ]:
merge(leftX,rightY,all.y=TRUE)

### II.4 OUTER JOIN

No row left behind!

In [ ]:
merge(leftX,rightY,all=TRUE)